QFrame#body {
    background-color: $bg-panel;
    border-radius: $radius-16;
}

@import "components/base.qss";
@import "components/button.qss";
@import "components/converter_panel.qss";
@import "components/command_panel.qss";
@import "components/dialogs.qss";
@import "components/help_window.qss";
@import "components/workspace_table.qss";
@import "components/key_panel.qss";
