QToolButton#copy-raw {
    background-color: $bg-button;
    border: 1px solid $border;
    border-radius: $radius-8;
    min-width: $size-copy-raw-button-min;
    min-height: $size-copy-raw-button-min;
    padding: $padding-copy-raw-button;
}

QToolButton#copy-raw:hover {
    background-color: $bg-toolbar-button-hover;
    border: 1px solid $border-hover;
}
